/* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
:root[color-mode="light"] .light--hidden {
    display: none;
}

/* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
:root[color-mode="dark"] .dark--hidden {
    display: none;
}

html{
    font-family: 'Roboto Mono';
}

footer {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: .5%;
}